.commissions-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.commission-sheet-list-wrapper {
  overflow-y: hidden;
  background-color: var(--hover);
  height: 100%;
}
.commission-sheet-list {
  margin: 15px;
  overflow-y: scroll;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  scrollbar-width: thin;
  background-color: white;
  box-shadow: var(--shadow);
  overscroll-behavior: none;
}
.commission-sheet-list p {
  font-size: 0.95rem;
}

.commission-sheet-header {
  position: sticky;
  top: 0;
  background-color: white;
}

.commission-sheet-header,
.commission-sheet-item {
  border-bottom: 1px solid var(--border);
  display: grid;
  grid-template-columns: 0.25fr 1.5fr 1fr 1fr 0.5fr;
  padding: 5px 10px;
}
.commission-sheet-item:hover {
  transition: 100ms;
  background-color: var(--hover);
  cursor: pointer;
}
.commission-list-dots {
  border-radius: 5px;
}
.commission-list-dots:hover {
  background-color: var(--dark-hover);
}
.commission-list-dots-wrapper {
  position: relative;
  z-index: 10;
}
.no-sheets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}
.no-sheets h3 {
  margin: 25px 0 15px;
}
.no-sheets-icon {
  font-size: 3rem;
  color: var(--blue);
}
.new-sheet-button {
  background-color: var(--green);
  color: white;
  font-weight: 500;
  border: 1px solid transparent;
}
.new-sheet-button:hover {
  background-color: var(--dark-green);
  color: white;
}
.new-sheet-button:disabled {
  background-color: lightgrey;
  cursor: default;
}
