.commission-sheet-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--hover);
}
.sheet-page-body {
  display: flex;
  height: 100%;
  overflow: hidden;
}

h2 {
  margin: 0;
}
.title-input {
  width: 100%;
  max-width: 300px;
  padding: 0px 12px;
  font-size: 1rem;
  border: 1px solid transparent;
  transition: 100ms;
  border: 1px solid var(--border);
}
.title-input:hover {
  background-color: var(--hover);
}
.sheet-header-container {
  display: flex;
  gap: 2rem;
}
.sheet-date {
  font-size: 0.9rem;
}
.sheet-order-list {
  display: flex;
  flex-direction: column;
  margin: 15px 0px 15px 15px;
  border: 1px solid var(--border);
  background-color: white;
  overflow-y: hidden;
  width: 30%;
  scrollbar-width: thin;
  position: relative;
  background-color: rgb(250, 250, 250);
}
.sheet-order-item {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  gap: 10px;
  padding: 5px 15px;
  align-items: center;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--border);
  background-color: white;
  transition: 100ms;
}
.sheet-order-item:hover {
  background-color: var(--hover);
}
.sheet-order-head:hover {
  background-color: white;
}
.sheet-list-order-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.sheet-list-order {
  padding: 6px 12px;
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
  background-color: white;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
.sheet-list-order-item {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.2fr 1fr 1.2fr 1.2fr 1fr 0.5fr;
  gap: 10px;
  font-size: 0.9rem;
  padding: 5px 15px;
  align-items: center;
  border-bottom: 1px solid var(--border);
  background-color: white;
}
.sheet-items-list {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border: 1px solid var(--border);
  background-color: white;
  overflow-y: hidden;
  scrollbar-width: thin;
  position: relative;
  background-color: rgb(250, 250, 250);
  width: 100%;
}
.footer-placeholder {
  height: 100px;
}
.sheet-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-bottom: 15px;
}
.sheet-item {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.2fr 1fr 1.2fr 1.2fr 1fr 0.5fr;
  gap: 10px;
  padding: 5px 15px;
  align-items: center;
  border-bottom: 1px solid var(--border);
  background-color: white;
}
.sheet-item-number {
  font-size: 0.75rem;
}
.new-client-input {
  width: calc(100% - 15px);
  padding: 10px;
}
.quantity-input,
.price-input {
  padding: 8px;
}
.quantity-input {
  max-width: 50px;
  border: 1px solid var(--border);
  border-radius: 5px;
}
.price-input {
  max-width: 75px;
  border: 1px solid var(--border);
  border-radius: 5px;
}
.price-input-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}
.sheet-items-list-head {
  border-bottom: 1px solid var(--border);
  font-size: 0.9rem;
  font-weight: 500;
  position: sticky;
  top: 0;
  background-color: white;
}
.commission-sheet-footer {
  /* position: absolute; */
  bottom: 0;
  border-top: 1px solid var(--border);
  width: calc(100%);
  display: flex;
  flex-direction: column;
}
.client-picker-button {
  font-size: 0.9rem;
}
.client-picker,
.product-picker {
  position: relative;
}
.client-picker-button,
.product-picker-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  width: 100%;
  text-align: left;
}
.new-item-row {
  font-size: 0.9rem;
  cursor: pointer;
  transition: 100ms;
  display: flex;
  padding-left: 20px;
}
.new-item-row:hover {
  background-color: var(--hover);
}
.status-picker-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.status-picker-button {
  background-color: var(--yellow);
  border: 1px solid transparent;
}
.status-picker-button:hover {
  background-color: var(--dark-yellow);
}
.user-approved-button {
  background-color: var(--blue);
  color: white;
}
.user-paid-button {
  background-color: var(--green);
  color: white;
}
.pay-button {
  background-color: var(--green);
  color: white;
}
.pay-button:hover {
  background-color: var(--dark-green);
  color: white;
}

.approve-button {
  background-color: var(--blue);
  color: white;
}
.approve-button:hover {
  background-color: var(--dark-blue);
  color: white;
}

.sheet-item-delete {
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--grey);
  transition: 100ms;
  cursor: pointer;
}
.sheet-item-delete:hover {
  color: var(--red);
}
.trash-can-icon {
  padding: 0px 10px;
}
.commission-sheet-bottom-wrapper {
  margin: 0px 15px 15px;
  background-color: white;
  padding: 15px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.commission-sheet-notes {
  border: 1px solid var(--border);
  width: 80%;
  resize: none;
  padding: 10px;
}
.unauthorized {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paid-button {
  background-color: var(--green);
  color: white;
}
.paid-button:hover {
  background-color: var(--green);
  color: white;
  cursor: default;
}
.delete-placeholder {
  width: 30px;
}
.new-sheet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  gap: 15px;
}
.new-sheet-input {
  padding: 8px 10px;
}
.create-sheet-button {
  background-color: var(--green);
  color: white;
}
.create-sheet-button:hover {
  background-color: var(--dark-green);
  color: white;
}
.new-sheet-wrapper .profile-image {
  height: 35px;
}
.delete-sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-sheet-button {
  border: 1px solid var(--red);
  color: var(--red);
}
.delete-sheet-button:hover {
  background-color: var(--red);
  color: white;
}
.delete-sheet-buttons {
  display: flex;
  gap: 10px;
}
