.links-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.links-page-body {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--hover);
}

.links-list-wrapper {
  margin: 15px;
  border: 1px solid var(--border);
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: thin;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.links-list {
  height: 100%;
}
.links-list-item {
  display: grid;
  grid-template-columns:
    minmax(250px, 2fr) minmax(150px, 2fr)
    minmax(75px, 2fr) minmax(50px, 2fr)
    minmax(50px, 2fr) minmax(85px, 2fr)
    minmax(125px, 2fr) minmax(100px, 2fr) minmax(100px, 2fr)
    minmax(100px, 2fr) minmax(75px, 2fr)
    minmax(200px, 2fr);
  white-space: nowrap;
  font-size: 0.9rem;
  width: fit-content;
  min-width: 100%;
  border-bottom: 1px solid var(--border);
}
.link-example-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-example {
  width: 25px;
}
.links-list-item div {
  padding: 8px 12px;
  border-right: 1px solid var(--border);
  margin: 0;
}
.links-list-item a {
  overflow: hidden;
  scrollbar-width: none;
}
.links-list-item p:last-child {
  border-right: 0px;
}
.link-add-to-cart {
  background-color: var(--yellow);
  border: none;
  transition: 200ms;
}
.link-add-to-cart:hover {
  background-color: var(--black);
  color: white;
  border: none;
}
.links-list-item input {
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 100ms;
}
.link-list-number-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}
.link-list-number {
  max-width: 75px;
}

/* Link Cart */
.link-cart-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 200ms;
}
.link-cart-icon-wrapper:hover {
  background-color: rgb(225, 225, 225);
}
.cart-icon {
  width: 20px;
}
.cart-count {
  font-size: 0.9rem;
  padding: 1px 8px;
  background-color: var(--yellow);
  border-radius: 50%;
  margin: 0;
}

.link-cart-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.475);
  display: flex;
  justify-content: flex-end;
}
.link-cart-wrapper {
  padding: 30px;
  min-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}
.link-cart-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-cart-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding-bottom: 20px;
}
.link-cart-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.link-cart-item {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-cart-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link-cart-details p {
  margin: 0;
  font-size: 0.8rem;
}
.link-cart-title {
  font-size: 0.9rem !important;
  font-weight: 600;
}
.remove-link {
  cursor: pointer;
  transition: 200ms;
}
.remove-link:hover {
  font-weight: 600;
}
.link-cart-input {
  max-width: 40px;
  border: 1px solid var(--border);
  border-radius: 50px;
  padding: 6px 12px;
  background-color: var(--hover);
}
.close-cart {
  cursor: pointer;
  height: 15px;
  color: rgb(42, 42, 42);
}
.link-cart-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border);
  padding-top: 20px;
}
.link-cart-footer h4 {
  margin: 0;
}
.link-cart-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}
.submit-order {
  width: 100%;
  background-color: var(--yellow);
  border-radius: 3px;
  border: 1px solid var(--black);
  font-weight: 500;
  transition: 250ms;
}
.submit-order:hover {
  color: white;
  background-color: var(--black);
}
.submission-success {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  color: white;
  padding: 6px;
  border-radius: 3px;
}
