.nav-wrapper {
  width: 220px;
  padding: 30px 15px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms;
  position: relative;
}
.hidden-nav {
  transition: width 200ms;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  width: 0px;
}
.hide-nav-toggle-wrapper {
  position: absolute;
  right: 20px;
}
.hide-nav-toggle {
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border: 2px solid white;
  cursor: pointer;
}
.hide-nav-toggle-inner {
  height: 15px;
  width: 4px;
  border-right: 2px solid white;
}
.nav-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-logo {
  width: 150px;
}
.nav-links-wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 15px 0;
}
.no-bottom-border {
  border-bottom: 0;
  padding-bottom: 0;
}
.nav-link-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-button {
  color: white;
  transition: 150ms;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-button svg {
  stroke: var(--dark-hover);
  fill: var(--dark-hover);
  height: 1.2rem;
  width: 1.2rem;
}
.active-nav {
  background-color: rgb(81, 81, 81);
}
.nav-button:hover {
  background-color: #515151;
  color: white;
}
