.order-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.order-page-wrapper .page-header-wrapper {
  align-items: center;
}
.order-page-body {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--hover);
}
.orders-page-body {
  height: 100%;
  overflow: hidden;
  padding: 15px;
  background-color: var(--hover);
}
.orders-lists {
  background-color: white;
  border: 1px solid var(--border);
  height: 100%;
}
.orders-list-wrapper h3 {
  padding-left: 10px;
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.order-settings-wrapper {
  position: relative;
}
.order-settings-dropdown {
  right: 0;
}
.order-profile-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.order-sales-wrapper {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  align-items: center;
}

.order-client-wrapper {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  align-items: center;
}
.order-items-list {
  border: 1px solid var(--border);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: scroll;
  overscroll-behavior: none;
  margin: 15px;
}
.order-items-list-head {
  font-weight: 500;
}
.orders-list-head:hover {
  background-color: white;
}
.order-items-list-item {
  display: grid;
  grid-template-columns:
    minmax(40px, 0.2fr)
    minmax(50px, 0.3fr) minmax(200px, 1fr) minmax(100px, 0.65fr)
    minmax(75px, 0.75fr) minmax(100px, 0.5fr) minmax(250px, 2fr) minmax(
      250px,
      2fr
    )
    minmax(250px, 2fr) minmax(50px, 0.5fr);
  align-items: center;
  min-width: max-content;
  gap: 10px;
  padding: 6px 12px;
  border-bottom: 1px solid var(--border);
  font-size: 0.9rem;
  background-color: white;
  width: 100%;
  white-space: nowrap;
}
.order-items-list-item-wrapper {
  min-width: max-content;
}
.order-input {
  padding: 8px 12px;
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow: scroll;
}
.order-input,
.input-heading {
  min-width: 100px;
}
.order-item-carat {
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.order-item-carat:hover {
  background-color: var(--hover);
}
.carat-toggled {
  transform: rotate(180deg);
  transition: 100ms;
}
.picker-heading {
  /* min-width: 150px; */
}
.vendor-row {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border);
}
.vendor-row-head,
.vendor-row-inputs {
  display: grid;
  gap: 10px;
  font-size: 0.9rem;
  background-color: white;
  border-bottom: 1px solid var(--border);
  padding: 6px 12px;
  width: 100%;
  white-space: nowrap;
}
.order-item-settings {
  position: relative;
}
.order-item-settings-dropdown {
  right: 50%;
}
.order-item-settings-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-item-icons {
  fill: #525252;
}
/* Order page */
.orders-list-item {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.75fr 0.5fr 0.5fr;
  padding: 6px 12px;
  border-bottom: 1px solid var(--border);
  font-size: 0.9rem;
  align-items: center;
  justify-items: start;
  transition: 100ms;
}
.orders-list-item:hover {
  background-color: var(--hover);
  cursor: pointer;
}
.order-status-picker {
  position: relative;
}
.order-status-p {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-status {
  padding: 3px 8px;
  border-radius: 5px;
}
.staged-button {
  background-color: var(--purple);
}
.staged-button:hover {
  background-color: var(--purple);
}
.ordered-button {
  background-color: var(--dark-blue);
}
.ordered-button:hover {
  background-color: var(--dark-blue);
}
.cancelled-button {
  background-color: var(--red);
}
.cancelled-button:hover {
  background-color: var(--red);
}
.support-needed-button {
  background-color: var(--yellow);
}
.support-needed-button:hover {
  background-color: var(--yellow);
}
.complete-button {
  background-color: var(--green);
}
.complete-button:hover {
  background-color: var(--green);
}
.in-progress {
  background-color: var(--blue);
  font-weight: 500;
  color: white;
}
.partial {
  background-color: var(--yellow);
  color: black;
  font-weight: 500;
}
.in-progress {
  background-color: var(--blue);
  font-weight: 500;
  color: white;
}
.delivered {
  background-color: var(--green);
  font-weight: 500;
  color: white;
}
.order-items-list-wrapper {
  height: calc(100% - 135px);
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
}
.order-sheet-footer {
  border-top: 1px solid var(--border);
}
.product-picker-button {
  width: auto;
  max-width: 190px;
}
.order-status-button {
  border: none;
  border-radius: 5px;
  color: white;
}
.draft-button {
  background-color: grey;
}
.in-progress-button {
  background-color: var(--blue);
}
.in-progress-button:hover {
  background-color: var(--dark-blue);
}
.delivered-button {
  background-color: var(--green);
}
.delivered-button:hover {
  background-color: var(--dark-green);
}
.order-status-badge {
  padding: 5px 12px;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
}
.submitted-badge {
  background-color: var(--purple);
}
.delivered-badge {
  background-color: var(--green);
}
.in-progress-badge {
  background-color: var(--blue);
}
.partial-badge {
  background-color: var(--yellow);
  color: black;
}
.next-net {
  background-color: var(--purple);
  color: white;
}
.next-net:hover {
  background-color: var(--purple);
  color: white;
}
.delivery-picker-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.delivery-picker-wrapper button {
  padding: 4px 8px;
}
/* Product Picker */
.product-picker-dropdown {
  display: flex;
  width: 450px;
  overflow-y: hidden !important;
  top: 110% !important;
}
.product-picker-category {
  border-right: 1px solid var(--border);
  width: 30%;
  display: flex;
  flex-direction: column;
}
.product-picker-items {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.product-picker-category-item {
  /* width: 100%; */
  min-width: unset !important;
}
.active-category {
  background-color: var(--hover);
}

/* Vendor picker */
.vendor-picker-wrapper {
  position: relative;
}

/* Client Picker */
.client-picker-wrapper {
  position: relative;
}

/* order not found */
.order-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  gap: 25px;
}
.not-found-icon {
  font-size: 3rem;
  color: var(--blue);
}
.order-not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.order-not-found-content h3 {
  margin: 0;
}

.new-item-row {
  margin-bottom: 30px;
  border-right: 1px solid var(--border);
  width: 15%;
}
