.order-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.orders-list-wrapper {
  padding: 15px;
}
.orders-list-item {
  display: grid;
  grid-template-columns: 0.3fr 2fr 1fr 1fr 1fr;
  padding: 6px 12px;
  border-bottom: 1px solid var(--border);
  font-size: 0.9rem;
  align-items: center;
  justify-items: start;
  transition: 100ms;
}
.orders-list-item:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.order-status-badge {
  padding: 5px 12px;
  border-radius: 5px;
  color: white;
}
.delivered-badge {
  background-color: var(--green);
}
.in-progress-badge {
  background-color: var(--blue);
}

/* Client Picker */
.client-picker-wrapper {
  position: relative;
}
.order-page-body {
  height: 100%;
  padding: 15px;
}
.order-items-list {
  border: 1px solid var(--border);
  height: 100%;
}
.order-items-list-item {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
  align-items: center;
  gap: 10px;
  padding: 6px 12px;
  border-bottom: 1px solid var(--border);
}

/* order not found */
.order-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  gap: 25px;
}
.not-found-icon {
  font-size: 3rem;
  color: var(--blue);
}
.order-not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.order-not-found-content h3 {
  margin: 0;
}
