@import "./styles/nav.css";
@import "./styles/commission.css";
@import "./styles/commissionSheet.css";

#root {
  --black: #222222;
  --border: rgb(225, 225, 225);
  --grey: #777777;
  --green: #4d8264;
  --teal: #00ffdd;
  --purple: #784d8e;
  --hover: #f6f6f6;
  --shadow: 0px 2px 5px -1px lightgrey;
}

button {
  font-size: 0.9rem;
  border-radius: 0;
  border: 1px solid var(--border);
  background-color: unset;
  transition: 100ms;
}
button:hover {
  background-color: var(--hover);
}

p {
  margin: 5px 0;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.route-wrapper {
  /* padding: 15px; */
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  /* background-image: url(public/p1p-orange-pink-wave-bg.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.route-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.route-container h1 {
  font-size: 2rem;
  margin: 0;
}
.page-header-wrapper {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid var(--border);
}

/* status badge */
.status-badge-wrapper {
  display: flex;
}
.status-badge {
  background-color: black;
  border-radius: 5px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
}
.status-badge p {
  font-size: 0.9rem;
}
.submitted {
  background-color: var(--teal);
}
.draft {
  background-color: var(--border);
}
.archived {
  background-color: var(--green);
  color: white;
}
.dropdown {
  position: absolute;
  border: 1px solid var(--border);
  background-color: white;
  max-height: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
  top: 110%;
  z-index: 100;
  box-shadow: var(--shadow);
}
.dropdown-item {
  padding: 8px 15px;
  font-size: 0.9rem;
  transition: 100ms;
  cursor: pointer;
  min-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid var(--border);
}
.dropdown-item:hover {
  background-color: var(--hover);
}
