@import "./styles/nav.css";

#root {
  --black: #222222;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.route-wrapper {
  padding: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  /* background-image: url(public/p1p-orange-pink-wave-bg.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.route-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.route-container h1 {
  font-size: 2rem;
}
